<h1><%= t.'title' %></h1>
<p>
	<%= t '.body', nome: @user.nome %>
</p>
<p>
	<%= t 'confirm_link_html', link: link_to(@confirmation_link, @confirmation_link) %>
</p>
<p>
	<%= t '.thanks_html', link: link_to('Callmycustomer.com', root_url) %>
</p>