<div class="col-md-12">
	<div class="page-header">
		<h4>Seja bem vindo ao <i>CallMyCustomer</i></h4>
	</div>
</div>

<div class="col-md-4">
	<div class="panel panel-default panel-one">
		<div class="panel-body">
			<p class="text-center size-title-panel">Chamado em aberto</p>
		</div>
	</div>
</div>
<div class="col-md-4">
	<div class="panel panel-default panel-two">
		<div class="panel-body">
			<p class="text-center size-title-panel">Chamado em aprovação</p>
		</div>
	</div>
</div>
<div class="col-md-4">
	<div class="panel panel-default panel-three">
		<div class="panel-body">
			<p class="text-center size-title-panel">Chamado finalizado</p>
		</div>
	</div>
</div>