<li><%= link_to ' Home', root_path, class: 'glyphicon glyphicon-home' %></li>
<li><%= link_to ' Abrir Chamado', new_call_service_path, class: 'glyphicon glyphicon-phone-alt' %></li>
<!--<li><%= link_to ' Fechar Chamado', new_call_finish_path %></li>-->
